<div id="NewVersionRecommend">
  <div>
    <div class="logo">
      <img src="/magica/resource/image_web/common/logo/logo.png" alt="">
    </div>
    <div id="versionReccommend" data-href="">
      <span class="versionReccommendTxt c_purple">有新版本。请在应用商店下载最新版。</span>
      <span class="versionReccommendTxt02 c_gold">如果应用商店尚未公开最新版本，请暂作等候。<br> 如果删除应用，数据将被初始化，请务必注意。</span>
      <p id="verUpBtn" class="btn b_pink TE"><span class="b_screend"></span>前往下载</p>
    </div>
  </div>
  <p id="app_ver" class="c_gold">当前版本:<span class="c_gold"></span></p>
  <p id="app_new_ver" class="c_gold">最新版本:<span class="c_gold"></span></p>
  <p id="contactBtn" class="sb_gold_02 TE"><span class="b_screend"></span><span class="c_gold">联系我们</span></p>
</div>
