<div id="NewVersionRecommend">
  <div>
    <div class="logo">
      <img src="/magica/resource/image_web/common/logo/logo.png" alt="">
    </div>
    <div id="versionReccommend" data-href="">
      <span class="versionReccommendTxt c_purple">有新版本。请在应用商店下载最新版。</span>
      <span class="versionReccommendTxt02 c_gold">若应用商店尚未发布最新版,请稍等。<br> 请注意,删除应用后数据将被初始化。</span>
      <p id="verUpBtn" class="btn b_pink TE"><span class="b_screend"></span>前往下载</p>
    </div>
  </div>
  <p id="app_ver" class="c_gold">当前版本:<span class="c_gold"></span></p>
  <p id="app_new_ver" class="c_gold">最新版本:<span class="c_gold"></span></p>
  <p id="contactBtn" class="sb_gold_02 TE"><span class="b_screend"></span><span class="c_gold">联系我们</span></p>
</div>
