<div id="BackdoorLive2d">
  <div id='charaListShow' class='b_pink btn'>角色列表显示</div>
  <div class='wrap'>
    <div id="backdoorListWrap">
      <div class="backdoorList">
        <div id='backdoorLive2dList'></div>
        <div class="commonFrame3">
          <p class="common_title_frame">魔法少女</p>
          <div class="commonFrame4 voiceBtn" data-voice="01">01:自己紹介</div>
          <div class="commonFrame4 voiceBtn" data-voice="02">02：自我介绍（获取抽卡时）</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">剧情</p>
          <div class="commonFrame4 voiceBtn" data-voice="03">03:魔法少女剧情第一集通关</div>
          <div class="commonFrame4 voiceBtn" data-voice="04">04:魔法少女剧情E第2集通关</div>
          <div class="commonFrame4 voiceBtn" data-voice="05">05:魔法少女剧情E第3集通关</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">育成</p>
          <div class="commonFrame4 voiceBtn" data-voice="13">13:強化完了</div>
          <div class="commonFrame4 voiceBtn" data-voice="14">14:強化(Lv最大時)</div>
          <div class="commonFrame4 voiceBtn" data-voice="15">15:章节Lv 上升</div>
          <div class="commonFrame4 voiceBtn" data-voice="16">16:魔力解放①</div>
          <div class="commonFrame4 voiceBtn" data-voice="17">17:魔力解放②</div>
          <div class="commonFrame4 voiceBtn" data-voice="18">18:魔力解放③</div>
          <div class="commonFrame4 voiceBtn" data-voice="19">19:MagiaLv 上升</div>
          <div class="commonFrame4 voiceBtn" data-voice="20">20:魔法少女覚醒①</div>
          <div class="commonFrame4 voiceBtn" data-voice="21">21:魔法少女覚醒②</div>
          <div class="commonFrame4 voiceBtn" data-voice="22">22:魔法少女覚醒③</div>
          <div class="commonFrame4 voiceBtn" data-voice="23">23:魔法少女覚醒④</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">首页</p>
          <div class="commonFrame4 voiceBtn" data-voice="24">24：登录①（第一次登录）</div>
          <div class="commonFrame4 voiceBtn" data-voice="25">25:登录②（上午）</div>
          <div class="commonFrame4 voiceBtn" data-voice="26">26：登录③（午餐）</div>
          <div class="commonFrame4 voiceBtn" data-voice="27">27：登录④（夜间）</div>
          <div class="commonFrame4 voiceBtn" data-voice="28">28：登录⑤（深夜）</div>
          <div class="commonFrame4 voiceBtn" data-voice="29">29：登录⑥（其他）</div>
          <div class="commonFrame4 voiceBtn" data-voice="30">30：登录⑦（AP最大时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="31">31：登录⑧（最大BP时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="32">32:登录⑨(GVG)</div>
          <div class="commonFrame4 voiceBtn" data-voice="33">33：魔法少女 水龙头①</div>
          <div class="commonFrame4 voiceBtn" data-voice="34">34：魔法少女 抽头 ②</div>
          <div class="commonFrame4 voiceBtn" data-voice="35">35：魔法少女 轻击③</div>
          <div class="commonFrame4 voiceBtn" data-voice="36">36：魔法少女 轻击 ④</div>
          <div class="commonFrame4 voiceBtn" data-voice="37">37：魔法少女 轻击 ⑤</div>
          <div class="commonFrame4 voiceBtn" data-voice="38">38：魔法少女 轻击 ⑥</div>
          <div class="commonFrame4 voiceBtn" data-voice="39">39:魔法少女 轻击 ⑦</div>
          <div class="commonFrame4 voiceBtn" data-voice="40">40：魔法少女 轻击 ⑧</div>
          <div class="commonFrame4 voiceBtn" data-voice="41">41：魔法少女 丝锥 ⑨</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">关卡</p>
          <div class="commonFrame4 voiceBtn" data-voice="42">42:任务 启动</div>
          <div class="commonFrame4 voiceBtn" data-voice="43">43：任务胜利①</div>
          <div class="commonFrame4 voiceBtn" data-voice="44">44：任务 胜利②</div>
          <div class="commonFrame4 voiceBtn" data-voice="45">45：任务 胜利 ③</div>
          <div class="commonFrame4 voiceBtn" data-voice="46">46：任务 胜利 ④</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">对战</p>
          <div class="commonFrame4 voiceBtn" data-voice="63">63：Magia激活①</div>
          <div class="commonFrame4 voiceBtn" data-voice="64">64：Magia激活②</div>
          <div class="commonFrame4 voiceBtn" data-voice="65">65：Magia激活③</div>
          <div class="commonFrame4 voiceBtn" data-voice="66">66:Magia 激活 ④</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="Live2dList"> <%="<% if(model.live2dList) { %\>"%>
		<%="<% _.forEach(model.live2dList,function(txt,index){ %\>"%><li class='live2dChangeBtn mb_pink <%="<% if(index == 0) { %\>"%>selected<%="<% } %\>"%>' data-live2did='<%="<%= txt.live2dId %\>"%>' data-voicePrefixNo='<%="<%= txt.voicePrefixNo %\>"%>'><%="<%= txt.description %\>"%></li><%="<% }) %\>"%>
	<%="<% } %\>"%>
</script>
