<div id="backdoorListWrap">
  <ul class="backdoorList">
    <li><span class="se_decide btn b_white nativeReload">重新加载</span></li>
    <li><span class="se_decide btn b_white linkBtn" data-href="#/Backdoor">发放道具、礼物及卡牌</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignSumoTop">相扑首页</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/EventWitchTopPage">魔女记忆结晶活动</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/EventWitchExchangePage">魔女记忆结晶兑换页面</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignBoxGachaTop">箱子扭蛋</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/EventWalpurgisRaidTop">魔女之夜全体突袭</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/EventPuellaRaidTop">PH全体突袭</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorEpLv">剧情等级提升</span></li>
    <li><span class="se_decide btn b_blue linkBtn short" data-href="#/SelectStoryTest">剧情测试</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorLive2d">Live2D测试</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/SoundTest">声音测试</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/TipsTest">提示测试</span></li>
    <li><span class="se_decide btn b_white reloadBtn short" data-href="#/TopPage">首页</span></li>
    <li><span class="se_decide btn b_white reloadBtn short" data-href="#/Maintenance">维护页面</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/NewVersionRecommend">版本更新页面</span></li>
    <li><span class="se_decide btn b_purple chapterClearTest short" data-target="firstChapter">一键通关第一部</span></li>
    <li><span class="se_decide btn b_purple chapter2ndClearTest short">一键通关第二部第11章</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/BackdoorQuestBattle">关卡调试</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/StyleTemplate">通用样式</span></li>
    <li><span id="localStorageClear" class="se_decide btn b_white short">清除localStorage</span></li>
    <li><span class="se_decide btn b_white linkBtn short" data-href="#/NativeSandBox">NativeSandBox</span></li>
    <li><span id="regAccRepairReset" class="se_decide btn b_green short">重置常驻踏破回复功能</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/VideoTest">浏览器视频播放测试</span></li>
    <li><span class="se_decide btn b_green tweetTest short">TweetTest</span></li>
    <li><span class="se_decide btn b_green linkBtn short" data-href="#/ShopReworkTest">新版商店模拟页面</span></li>
    <li><span class="se_decide btn b_green titlePopup short">称号变更弹窗</span></li>
    <li><span class="se_decide btn b_white short" id="startMirrorBattle">开始理违战</span></li>
    <li><span class="se_decide btn b_white short" id="mirrorBattleRetry">重新挑战理违战</span></li>
    <li><span class="se_decide btn b_white short" id="getPurchaseStatus">确认魔法石购买状态</span></li>
    <li><span class="se_decide btn b_white short" id="commonStoryTest">剧情测试</span></li>
    <li><span class="se_decide btn b_white short linkBtn" data-href="#/NewYearLogin">御神签活动</span></li>
    <li><span class="se_decide btn b_white short" id="mailSendTest">邮件发送测试</span></li>
    <li><span data-opid="OP020" class="se_decide prologueTestBtn btn b_white">序章确认（从ADV①开始）</span></li>
    <li><span data-opid="OP030" class="se_decide prologueTestBtn btn b_white">序章确认（从关卡①开始）</span></li>
    <li><span data-opid="OP040" class="se_decide prologueTestBtn btn b_white">序章确认（从ADV②开始）</span></li>
    <li><span data-opid="OP050" class="se_decide prologueTestBtn btn b_white">序章确认（从关卡②开始）</span></li>
    <li><span data-opid="OP060" class="se_decide prologueTestBtn btn b_white">序章确认（从ADV③开始）</span></li>
    <li><span data-opid="OP070" class="se_decide prologueTestBtn btn b_white">序章确认（从关卡③开始）</span></li>
    <li><span data-opid="OP080" class="se_decide prologueTestBtn btn b_white">序章确认（从ADV④开始）</span></li>
    <li><span class="se_decide btn b_pink errorTestBtn">服务器错误测试</span></li>
    <li><span class="se_decide btn b_pink randomError">随机服务器错误测试</span></li>
    <!-- 
		* 過去使っていて残しておくもの
		<li><span class="se_decide btn b_white reloadBtn" data-href="#/MyPage">重新加载</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/EventWitchIconTest">魔女メモリアゲージテスト</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/EventWitchExchangeAnimePage">魔女メモリア交換アニメ</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/EventAprilFoolTop">エイプリルフール</span></li>
		<li><span class="btn b_pink linkBtn" data-href="#/Ban">アカウント停止ページ(一方通行)</span></li>
		<li><span id="localStorageSave"  class="se_decide btn b_white">localstorage保存</span></li>
		<li><span id="localStorageGet"   class="se_decide btn b_white">localstorage取得</span></li>
		<li><span id="chatTestBtn" class="btn b_white">チャットテスト</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignSummerMissionTop">サマーキャンペーンTOP</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/RegularEventPatrolTop">遠征TOP</span></li>
		<li><span class="se_decide btn b_white linkBtn short" data-href="#/SubSecondTest">サブ2部テスト</span></li>
		<li><span class="se_decide btn b_white linkBtn short" data-href="#/DeleteDataTest">リソース削減テスト</span></li>
		<li><span class="se_decide btn b_white linkBtn short" data-href="#/SdCharaTest">ミニキャラ確認テスト</span></li>
		<li><span class="se_decide btn b_white linkBtn short" data-href="#/EffectTest">エフェクトテスト</span></li>
		<li><span class="se_decide btn b_white linkBtn short" data-href="#/NewYearLogin">おみくじ</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/EventDailyTowerTop/endlesschallenge">百禍M→タワイべ</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/PieceArchive">倉庫テスト</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/DoubleUnitTest">Live2D2体表示テスト</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/CampaignGachaLineUp">2周年キャンペーンページ</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/EventRaidTop">レイドイベントTOP</span></li>
		<li><span class="se_decide btn b_green linkBtn short" data-href="#/CampaignQuizTop">クイズキャンペーン</span></li>
		<li><span id="EventAccomplishDebugModeNormal" class="se_decide btn b_white">踏破ノーマルデバッグ</span></li>
		<li><span id="EventAccomplishDebugModeChallenge" class="se_decide btn b_white">踏破チャレンジデバッグ</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/RealGachaTop">AnimeJapan2018 リアルガチャ</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/RaidAnimationTest">シングルレイドアニメテスト</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/EventDungeonTop">ダンジョンTOP</span></li>
		<li><span id="EventDungeonMapTest" class="se_decide btn b_white">ダンジョンマップデバッグ</span></li>
		<li><span class="se_decide btn b_white reloadBtn" data-href="#/CampaignBoxGachaTop">ボックスガチャページ</span></li>
		<li><span class="se_decide btn b_white fullVoiceTest">イベントストーリーDLテスト</span></li>
		<li><span class="btn b_white linkBtn" data-href="#/ScrollTest">スクロールテスト</span></li>
		<li><span id="seachable" class="se_decide btn b_white">ユーザー検索サーバに登録</span></li>
		<li><span id="backdoorTutorial" class="se_decide btn b_white">チュートリアル</span></li>
		<li><span id="backdoorTutorialComp" class="se_decide btn b_white">チュートリアル完了</span></li>
		<li><span id="backdoorTutorialReset" class="btn b_white">チュートリアル初期化</span></li>
		<li><span id="removeAsset" class="se_decide btn b_white">ファイル削除</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/BackdoorQuestList">壊れるので押さないで</span></li>
		<li><span class="se_decide btn b_white linkBtn" data-href="#/CardStatusChecker">カードステータス</span></li>
		<li><span class="btn b_pink errorIdTestBtn">SNS USER IDエラーテスト</span></li>
-->
  </ul>
</div>
<script type="text/template" id="errorTestPop"> 输入错误代码。<br><br>
	<input id="errorCode" class="commonFrame3" readonly="readonly" type="text" value="" style="width: 600px;">
</script>
<script type="text/template" id="groupNameChangePop"> 输入推文链接。<br><br>
	<input id="changeName" class="commonFrame3" readonly="readonly" type="text" value="" style="width: 600px;">
</script>
<script id="titlePopupTemp" type="text/template"> <style type='text/css'>
	.titleList {
		border: 2px solid #a67d49;
		border-radius: 10px;
		text-align: left;
		padding: 15px;
	}
	.titleList.ver1 img {
		margin: 3px 2px;

	}
	.titleList.ver2 img {
		margin: 3px 2px;
		width: 166px;
	}
</style>
	<div class="titleList ver1">
		<img src="/magica/resource/image_web/title/title_6200401.png" />
		<img src="/magica/resource/image_web/title/title_6200402.png" />
		<img src="/magica/resource/image_web/title/title_6200403.png" />
		<img src="/magica/resource/image_web/title/title_6200404.png" />
		<img src="/magica/resource/image_web/title/title_6200405.png" />
		<img src="/magica/resource/image_web/title/title_6200406.png" />
		<img src="/magica/resource/image_web/title/title_6200407.png" />
		<img src="/magica/resource/image_web/title/title_6200408.png" />
		<img src="/magica/resource/image_web/title/title_6200409.png" />
		<img src="/magica/resource/image_web/title/title_6200410.png" />
		<img src="/magica/resource/image_web/title/title_6200411.png" />
	</div>
	<div class="titleList ver2">
		<img src="/magica/resource/image_web/title/title_6200401.png" />
		<img src="/magica/resource/image_web/title/title_6200402.png" />
		<img src="/magica/resource/image_web/title/title_6200403.png" />
		<img src="/magica/resource/image_web/title/title_6200404.png" />
		<img src="/magica/resource/image_web/title/title_6200405.png" />
		<img src="/magica/resource/image_web/title/title_6200406.png" />
		<img src="/magica/resource/image_web/title/title_6200407.png" />
		<img src="/magica/resource/image_web/title/title_6200408.png" />
		<img src="/magica/resource/image_web/title/title_6200409.png" />
		<img src="/magica/resource/image_web/title/title_6200410.png" />
		<img src="/magica/resource/image_web/title/title_6200411.png" />
	</div>
</script>
<script type="text/template" id="tutorialPop"> <style type='text/css'>
	.selectWrap {
		width: 300px;
		height: 36px;
		position: relative;
    margin: 0 auto;
	}

	select {
		width: 100%;
		height: 100%;
		padding-left: 20px;
		background-color: #ffffff;

		position: relative;
		text-align: center;

		border: 2px solid #b28750;
		border-radius: 5px;

		-webkit-appearance: none;
	}
</style>

<div id="TutorialPopup">
	<div class="selectWrap">
		<select id="tutorialSelect">
			<option selected="selected" value="TU999">完成（TU999）</option>
			<option value="TU010">战斗①（TU010）</option>
			<option value="TU110">战斗②（TU010）</option>
			<option value="TU520">扭蛋（TU520）</option>
			<option value="TU550">队伍编成（TU550）</option>
		</select>
	</div>
</div>
</script>
