<div id="BackdoorLive2d">
  <div id='charaListShow' class='b_pink btn'>显示角色列表</div>
  <div class='wrap'>
    <div id="backdoorListWrap">
      <div class="backdoorList">
        <div id='backdoorLive2dList'></div>
        <div class="commonFrame3">
          <p class="common_title_frame">魔法少女</p>
          <div class="commonFrame4 voiceBtn" data-voice="01">01:自我介绍</div>
          <div class="commonFrame4 voiceBtn" data-voice="02">02:自我介绍（扭蛋获取时）</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">剧情</p>
          <div class="commonFrame4 voiceBtn" data-voice="03">03:魔法少女剧情第1话通关</div>
          <div class="commonFrame4 voiceBtn" data-voice="04">04:魔法少女剧情第2话通关</div>
          <div class="commonFrame4 voiceBtn" data-voice="05">05:魔法少女剧情第3话通关</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">养成</p>
          <div class="commonFrame4 voiceBtn" data-voice="13">13:强化完成</div>
          <div class="commonFrame4 voiceBtn" data-voice="14">14:强化（等级已满时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="15">15:剧情等级提升</div>
          <div class="commonFrame4 voiceBtn" data-voice="16">16:魔力解放①</div>
          <div class="commonFrame4 voiceBtn" data-voice="17">17:魔力解放②</div>
          <div class="commonFrame4 voiceBtn" data-voice="18">18:魔力解放③</div>
          <div class="commonFrame4 voiceBtn" data-voice="19">19:Magia等级提升</div>
          <div class="commonFrame4 voiceBtn" data-voice="20">20:魔法少女觉醒①</div>
          <div class="commonFrame4 voiceBtn" data-voice="21">21:魔法少女觉醒②</div>
          <div class="commonFrame4 voiceBtn" data-voice="22">22:魔法少女觉醒③</div>
          <div class="commonFrame4 voiceBtn" data-voice="23">23:魔法少女觉醒④</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">首页</p>
          <div class="commonFrame4 voiceBtn" data-voice="24">24:登录①（首次登录时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="25">25:登录②（早晨）</div>
          <div class="commonFrame4 voiceBtn" data-voice="26">26:登录③（白天）</div>
          <div class="commonFrame4 voiceBtn" data-voice="27">27:登录④（夜晚）</div>
          <div class="commonFrame4 voiceBtn" data-voice="28">28:登录⑤（深夜）</div>
          <div class="commonFrame4 voiceBtn" data-voice="29">29:登录⑥（其他）</div>
          <div class="commonFrame4 voiceBtn" data-voice="30">30:登录⑦（AP满时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="31">31:登录⑧（BP满时）</div>
          <div class="commonFrame4 voiceBtn" data-voice="32">32:登录⑨（GvG）</div>
          <div class="commonFrame4 voiceBtn" data-voice="33">33:点击魔法少女①</div>
          <div class="commonFrame4 voiceBtn" data-voice="34">34:点击魔法少女②</div>
          <div class="commonFrame4 voiceBtn" data-voice="35">35:点击魔法少女③</div>
          <div class="commonFrame4 voiceBtn" data-voice="36">36:点击魔法少女④</div>
          <div class="commonFrame4 voiceBtn" data-voice="37">37:点击魔法少女⑤</div>
          <div class="commonFrame4 voiceBtn" data-voice="38">38:点击魔法少女⑥</div>
          <div class="commonFrame4 voiceBtn" data-voice="39">39:点击魔法少女⑦</div>
          <div class="commonFrame4 voiceBtn" data-voice="40">40:点击魔法少女⑧</div>
          <div class="commonFrame4 voiceBtn" data-voice="41">41:点击魔法少女⑨</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">关卡</p>
          <div class="commonFrame4 voiceBtn" data-voice="42">42:关卡开始</div>
          <div class="commonFrame4 voiceBtn" data-voice="43">43:关卡胜利①</div>
          <div class="commonFrame4 voiceBtn" data-voice="44">44:关卡胜利②</div>
          <div class="commonFrame4 voiceBtn" data-voice="45">45:关卡胜利③</div>
          <div class="commonFrame4 voiceBtn" data-voice="46">46:关卡胜利④</div>
        </div>
        <div class="commonFrame3">
          <p class="common_title_frame">对战</p>
          <div class="commonFrame4 voiceBtn" data-voice="63">63:发动Magia①</div>
          <div class="commonFrame4 voiceBtn" data-voice="64">64:发动Magia②</div>
          <div class="commonFrame4 voiceBtn" data-voice="65">65:发动Magia③</div>
          <div class="commonFrame4 voiceBtn" data-voice="66">66:发动Magia④</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="Live2dList"> <%="<% if(model.live2dList) { %\>"%>
		<%="<% _.forEach(model.live2dList,function(txt,index){ %\>"%><li class='live2dChangeBtn mb_pink <%="<% if(index == 0) { %\>"%>selected<%="<% } %\>"%>' data-live2did='<%="<%= txt.live2dId %\>"%>' data-voicePrefixNo='<%="<%= txt.voicePrefixNo %\>"%>'><%="<%= txt.description %\>"%></li><%="<% }) %\>"%>
	<%="<% } %\>"%>
</script>
