<div id="FriendSearch">
  <div id="searchArea">
    <div id="rankForm">
      <h2>等级</h2>
      <select id="rankSelect">
        <option selected="selected" value="0">不指定</option>
        <option value="1">等级1～</option>
        <option value="10">等级10〜</option>
        <option value="20">等级20〜</option>
        <option value="40">等级40〜</option>
        <option value="60">等级60〜</option>
        <option value="80">等级80〜</option>
        <option value="100">等级100〜</option>
      </select>
    </div>
    <div id="leaderLevelForm">
      <h2>支援角色Lv</h2>
      <select id="leaderLevelSelect">
        <option selected="selected" value="0">不指定</option>
        <option value="1">等级1～</option>
        <option value="20">LV20〜</option>
        <option value="40">LV40〜</option>
        <option value="60">LV60〜</option>
        <option value="70">LV70〜</option>
        <option value="80">LV80〜</option>
        <option value="90">LV90〜</option>
      </select>
    </div>
    <div id="userNameForm">
      <h2>用户名</h2>
      <div class="clearfix">
        <input type="text" id="userNameInput" class="commonInput" />
      </div>
    </div>
    <div id="leaderAttributeForm">
      <h2>支援角色属性</h2>
      <select id="leaderAttributeSelect">
        <option selected="selected" value="0">不指定</option>
        <option value="FIRE">火属性</option>
        <option value="WATER">水属性</option>
        <option value="TIMBER">木属性</option>
        <option value="LIGHT">光属性</option>
        <option value="DARK">暗属性</option>
      </select>
    </div>
    <div id="friendIdForm">
      <h2>好友ID</h2>
      <div class="clearfix">
        <input type="text" id="friendIdInput" class="commonInput" />
      </div>
    </div>
  </div>
  <span id="searchRunBtn" class="btn small">搜索</span>
  <div class="scrollOuter">
    <div id="resultWrap" class="scrollInner"></div>
  </div>
</div>
<!-- ユーザーパーツ -->
<script type="text/template" id="ResultParts"> <p class="loginName">用户名：<%="<%= _.escape(model.username) %\>"%></p>
	<p class="rank">Rank : <%="<%= model.rank %\>"%></p>
	<p>支援角色等级：<%="<%= model.level %\>"%></p>
	<p>支援角色属性：<%="<%= model.attribute %\>"%></p>
	<p>好友ID：<%="<%= model.personalid %\>"%></p>
	<p>最后登录时间：<%="<%= model.lastaccessdate %\>"%></p>
	<span class="btn follow">关注</span>
</script>
