<div id="MailSendTest">
  <div class="commonFrame1 sendMailSec">
    <h2>邮件发送测试</h2>
    <div class="innerSec">
      <p>输入电子邮箱地址</p><br>
      <input id="inputMail" class="commonFrame3 inputSec" type="text" value=""><br><br>
      <div class="btn b_white TE sendMailBtn"> 发送 </div>
    </div>
  </div>
  <div class="commonFrame1 sendAuthNumSec">
    <h2>验证码测试</h2>
    <div class="innerSec">
      <p>输入验证码（仅限数字）</p><br>
      <input id="inputAuthNum" class="commonFrame3 inputSec" type="number" value=""><br><br>
      <div class="btn b_white TE sendAuthNumBtn"> 发送 </div>
    </div>
  </div>
</div>
