<div id="QuestStub">
  <div id="btnWrap" class="commonFrame1">
    <h2>Quest Stub</h2>
    <div class="btn b_pink resultBtn" data-result="SUCCESSFUL" data-skip="false">SUCCESSFUL</div>
    <div class="btn b_blue resultBtn" data-result="FAILED" data-skip="false">FAILED</div>
    <div class="btn b_white resultBtn" data-result="SUCCESSFUL" data-skip="true">QuestResult SKIP</div>
  </div>
  <div id='prmWrap' class="commonFrame1">
    <h2>战斗信息重写</h2>
    <div id='hiddenWrap'>
      <div class='scrollInner'>
        <div class="flexBox">
          <div class='wrap flexBox'>
            <p class='pointFrame'>继续次</p>
            <div class='selectWrap'>
              <input name='continueNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>通关TURN 号</p>
            <div class='selectWrap'>
              <input name='totalTurn' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>通关 时间（秒）</p>
            <div class='selectWrap'>
              <input name='clearTime' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>击败数量 敌方</p>
            <div class='selectWrap'>
              <input name='killNum' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>给出的 伤害 总数</p>
            <div class='selectWrap'>
              <input name='totalDamage' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>最大伤害数</p>
            <div class='selectWrap'>
              <input name='mostDamage' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>Magia 使用次数</p>
            <div class='selectWrap'>
              <input name='magiaNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>Doppel 使用次数</p>
            <div class='selectWrap'>
              <input name='doppelNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>戦闘不能回数</p>
            <div class='selectWrap'>
              <input name='deadNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>链数</p>
            <div class='selectWrap'>
              <input name='chargeNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>技能 激活计数</p>
            <div class='selectWrap'>
              <input name='skillNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>连携 激活计数</p>
            <div class='selectWrap'>
              <input name='connectNum' class='commonInput' type="number" value='10'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>AcceleD 选型号</p>
            <div class='selectWrap'>
              <input name='diskAcceleNum' class='commonInput' type="number" value='1'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>BlastD 选型号</p>
            <div class='selectWrap'>
              <input name='diskBlastNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>ChargeD 选型号</p>
            <div class='selectWrap'>
              <input name='diskChargeNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>剩余 HP [%] hpRate</p>
            <div class='selectWrap'>
              <input name='rateHp' class='commonInput' type="number" value='100'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>继承Charge数</p>
            <div class='selectWrap'>
              <input name='stackedChargeNum' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>最终 MP（平均）</p>
            <div class='selectWrap'>
              <input name='mpRemain' class='commonInput' type="number" value='0'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>停止卡ID</p>
            <div class='selectWrap'>
              <input name='lastAttackCardId' class='commonInput' type="number" value='10011'>
            </div>
          </div>
          <div class='wrap flexBox'>
            <p class='pointFrame'>剩余 HP hpRemain</p>
            <div class='selectWrap'>
              <input name='hpRemain' class='commonInput' type="text" value='100,100,100,100,100'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
