<div id="ShopReworkTest">
  <div id="debugBtn" class="sb_gold_01">切换设计</div>
  <div id="shopTitle" class="ts_pink">商店</div>
  <div id="perShopTitle" class="ts_pink hide">活动名称</div>
  <div id="backListBtn" class="hide TE se_decide"></div>
  <div id="shopList" class="another2nd">
    <div class="scrollInner">
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow se_decide">
        <div class="logo ts_pink"> 魔法石 </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow se_decide">
        <div class="logo ts_pink"> 支援Pt </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_yell_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow se_decide">
        <div class="logo ts_pink"> 镜界币 </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_arena_coin_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow se_decide">
        <div class="logo ts_pink"> 每日硬币 </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_daily_coin_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
      <div class="listRow special se_decide">
        <div class="limit"> 兑换期限<span class="limitDate">12/31 23:59</span>为止 </div>
        <div class="logo">
          <div class="logoImg"><img src="/magica/resource/image_web/test/shop/logo_01.png"></div>
        </div>
        <div class="useMoney">
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
          <div class="moneyNum">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
            <span class="hasNum">000000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainWrap" class="commonFrame1 hide">
    <div id="itemNums">
      <div class="moneyNum">
        <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
        <span class="hasNum">000000</span>
      </div>
      <div class="moneyNum">
        <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="imgIcon">
        <span class="hasNum">000000</span>
      </div>
    </div>
    <div id="itemListWrap">
      <div class="scrollInner">
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">03/16 14:59</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">3/3</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/event/icon_event_training_potion_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">-</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">-</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">03/16 14:59</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">3/3</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/event/icon_event_training_potion_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">-</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">-</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">03/16 14:59</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">3/3</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/event/icon_event_training_potion_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">-</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">-</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">03/16 14:59</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">3/3</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/event/icon_event_training_potion_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">-</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">-</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/icon_money_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">03/16 14:59</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">3/3</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
        <div class="shopItemWrap se_tabs commonFrame4">
          <div class="recommend"></div>
          <!-- アイテム名 -->
          <div class="itemName">扭蛋券</div>
          <!-- アイテム説明 -->
          <div class="description">扭蛋券</div>
          <!-- アイテム価格 -->
          <div class="itemCost">
            <img src="/magica/resource/image_web/common/icon/event/icon_event_training_potion_f.png" class="costIcon">
            <span class="pointFrame">50</span>
          </div>
          <!-- 追加情報系 -->
          <dl class="common_dl had_dl">
            <dt>持有数</dt>
            <dd class="itemHasNumber">400</dd>
          </dl>
          <dl class="common_dl limit_dl">
            <dt>购买期限</dt>
            <dd class="itemLimit">-</dd>
          </dl>
          <dl class="common_dl amount_dl">
            <dt>剩余次数</dt>
            <dd class="itemAmountNumber">-</dd>
          </dl>
          <div class="commonItemImgWrap item">
            <img class="commonItemImg" src="/magica/resource/image_web/item/main/gacha_ticket.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
