<script type="text/template" id="birthCheckFirst" class="birthCheckFirst"> 购买付费道具需要年龄认证。<br><br>
	每月限额为15岁以下5,000<% if(platform != "DMM"){ %>日元,16〜17岁<br><% }else{ %>DMM点数,<br>16〜17岁<% } %>
	为30,000<% if(platform != "DMM"){ %>日元<% }else{ %>DMM点数<% } %>。<% if(platform == "DMM"){ %><br><% } %>
	未成年人请先征得监护人同意。<br><br>
	该登记仅需一次,以后无需重复。<br>
	此外，登记的信息不会用于年龄确认以外的用途。
	<span class="btn b_pink se_decide TE" se_decide id="birthCheck"><span class='b_screen'></span>前往年龄认证</span>
</script>
<script type="text/template" id="birthInputs" class="birthInputs"> 请输入您的出生日期。<br><br>
	公元:&nbsp;<select id="year"></select>&nbsp;年&nbsp;&nbsp;<select id="day"></select>&nbsp;月
	<div class="btn b_pink se_decide TE" id="birthDecide"><span class='b_screen'></span>注册</div>
	<div class="birthTriangle1"></div>
	<div class="birthTriangle2"></div>
</script>
