<div id="ArenaReward">
	<div id="arenaRewardHeader" class="arenaColor">镜层奖励</div>
	<div id="bgWrap">
		<ul id="arenaRewardTab">
			<li class="current se_decide rankUp" data-screen="rankup" data-name="Level Up Rewards"></li>
			<!-- <li class="ranking se_decide" data-screen="ranking" data-name="ランキング報酬"><span>排行榜报酬</span></li> -->
		</ul>
		<div id="arenaRewardWrap">
			<div class="scrollInner">
				<div id="rewardTypeWrap" class="rankup">
					<div id="rankupRewards">
						<h3>◆ 无尽镜界</h3>
						<div class="flowWrap">
							<%
								var keyObj = {"ITEM":"item","CARD":"card","PIECE":"piece","GIFT":"gift"};
								
							%>
							<% _.each(free,function(model,index){ %>
							<dl class="rewardCols infinite">
								<dt><%= model.className %></dt>
								<dd>
									<%
										_.each(model.bonusRewardList,function(reward,index){
									%>
										<% if(index > 0){ %><br><% } %><img src="<%= resDir %>/magica/resource/image_web/common/icon/icon_<%= reward.itemId.toLowerCase() %>.png"><%= reward[keyObj[reward.presentType]].name %>×<%= reward.quantity %>
									<% }); %>
									<% if(model.bonusRewardList.length === 0){%>-<%}%>
								</dd>
							</dl>
							<% }); %>
						</div>
					</div>
					<!-- <div id="rankingRankupRewards">
						<h3>◆ 排行榜</h3>
						<div class="flowWrap">
							<% _.each(ranking,function(model,index){ %>
							<dl class="rewardCols ranking">
								<dt><%= model.arenaBattleRankingClass %>阶级</dt>
								<dd>
									<%
										_.each(model.bonusRewardList,function(reward,index){
									%>
										<% if(index > 0){ %><br><% } %><img src="<%= resDir %>/magica/resource/image_web/common/icon/icon_<%= reward.itemId.toLowerCase() %>.png"><%= reward[keyObj[reward.presentType]].name %>×<%= reward.quantity %>
									<% }); %>
									<% if(model.bonusRewardList.length === 0){%>-<%}%>
								</dd>
							</dl>
							<% }); %>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="arenaGradationBg"></div>
</div>
