<div id="sortfilter" class='memoria bulkSelect'>
	<p class='filterText'>只选择勾选了的项目</p>

	<ul id="filterListWrap" class="">

		<!-- レアリティ -->
		<li id="filterRankList" class="filterList" data-btntype="check2" data-sortid="3">
			<div class='filterBar'>
				<p>稀有度</p>
				<span class='filterBtn se_tabs ALL' data-filter="ALL"><span class='checkBox'></span>全选</span>
			</div>
			<div class="flexBox">
				<span class="filterBtn se_tabs" data-filter="RANK_1"><span class='checkBox'></span><span class="star"></span>1</span>
				<span class="filterBtn se_tabs" data-filter="RANK_2"><span class='checkBox'></span><span class="star"></span>2</span>
				<span class="filterBtn se_tabs" data-filter="RANK_3"><span class='checkBox'></span><span class="star"></span>3</span>
				<span class="filterBtn se_tabs" data-filter="RANK_4"><span class='checkBox'></span><span class="star"></span>4</span>
			</div>
		</li>

		<!-- ロックフィルタ -->
		<li id="filterLockList" class="filterList" data-btntype="radio" data-sortid="5">
			<div class='filterBar'>
				<p>锁定</p>
				<span class='filterBtn se_tabs ALL' data-filter="ALL"><span class='checkBox'></span>全选</span>
			</div>
			<div class='flexBox'>
				<span class="filterBtn se_tabs" data-filter="LOCKED"><span class='checkBox'></span>已锁定</span>
				<span class="filterBtn se_tabs" data-filter="UNLOCKED"><span class='checkBox'></span>无锁定</span>
			</div>
		</li>

		<!-- アビリティ/スキル -->
		<li id="filterAttList" class="filterList" data-btntype="check2" data-sortid="2">
			<div class='filterBar'>
				<p>类型</p>
				<span class='filterBtn se_tabs ALL' data-filter="ALL"><span class='checkBox'></span>全选</span>
			</div>
			<div class='flexBox'>
				<span class="filterBtn se_tabs" data-filter="ABILITY"><span class='checkBox'></span>能力</span>
				<span class="filterBtn se_tabs" data-filter="SKILL"><span class='checkBox'></span>技能</span>
			</div>
		</li>

		<!-- 強化済み -->
		<li id="filterComposeList" class="filterList" data-btntype="check2" data-sortid="9">
			<div class='filterBar'>
				<p>强化状态</p>
				<span class='filterBtn se_tabs ALL' data-filter="ALL"><span class='checkBox'></span>全选</span>
			</div>
			<div class='flexBox'>
				<span class="filterBtn se_tabs" data-filter="LV_MAX"><span class='checkBox'></span>Lv MAX</span>
				<span class="filterBtn se_tabs" data-filter="LB_MAX"><span class='checkBox'></span>已界限突破</span>
				<span class="filterBtn se_tabs" data-filter="ETC"><span class='checkBox'></span>其他</span>
			</div>
		</li>

		<!-- 特殊フィルタ -->
		<li id="filterSpecialList" class="filterList" data-btntype="check" data-sortid="10">
			<div class='filterBar'>
				<p>特殊</p>
				<span class='filterBtn se_tabs ALL' data-filter="ALL"><span class='checkBox'></span>全选</span>
			</div>
			<div class="flexBox">
				<span class="filterBtn se_tabs" data-filter="EVENT"><span class='checkBox'></span>活动</span>
			</div>
		</li>
	</ul>

	<div id="cardSortBtnsArea">
		<span class="btn TE b_pink se_decide sort popupCloseBtn"><span class='b_screen'></span>选择</span>
	</div>

</div>
