<div id="ComposeResult" style="margin-top:80px;">
  <h1>记忆结晶强化结果</h1>
  <div>
    <p>强化前</p>
    <p>Lv. : <%=model.composeTarget.level%>/<%=model.composeTarget.maxLevel%></p>
    <p>界限突破: <%=model.composeTarget.lbCount%></p>
    <p>ATK : <%=model.composeTarget.attack%></p>
    <p>DEF : <%=model.composeTarget.defense%></p>
    <p>HP : <%=model.composeTarget.hp%></p>
    <p>SPE : <%=model.composeTarget.speed%></p>
  </div>
  <div>
    <p>强化后</p>
    <p>强化前</p>
    <p>Lv. : <span id="afterLevel"></span></p>
    <p>界限突破: <span id="afterLb"></span></p>
    <p>ATK : <span id="afterAtk"></span></p>
    <p>DEF : <span id="afterDef"></span></p>
    <p>HP : <span id="afterHp"></span></p>
    <p>SPE : <span id="afterSpe"></span></p>
  </div>
</div>
