<div id="rulesBase" class="rule">
	<div class="popupScrollWrap rulesPop">
	<ul class="ruleTab common_tab t_gold">
		<li class="se_tabs TE ruleDisp current" data-disp="rule"><span>根据《特定商业交易法》显示</span></li>
		<li class="se_tabs TE thirteenDisp" data-disp="thirteen"><<span>根据“支付服务法第13条”显示</span></li>
	</ul>
	<div class="rule">
		<p>根据《特定商业交易法》显示</p>
		<br>
		販売業者<br>
		安妮普莱克斯有限公司<br>
		<br>
		販売責任者<br>
		&nbsp;&nbsp;岩上&nbsp;敦宏<br>
		<br>
		本社<br>
		&nbsp;&nbsp;所在地：〒102-8353&nbsp;東京都千代田区六番町４番地５<br>
		<br>
		联系方式<br>
		&nbsp;&nbsp;support@magireco.com <br>
		10:00-19:00 仅限工作日（不包括周末和节假日）<br>
		电话号码（导航拨号）：03-5211-7555<br>
		​ 营业时间：10:00-18:00​ 仅限平日（周六、周日、节假日、年末年初除外）<br>
		<br>
		販売価格<br>
		​ 每次完成购买程序时，屏幕上都会显示该信息。消费税将显示为含税。<br>
		<br>
		销售价格以外的必要费用<br>
		通信过程中会产生数据包通信费用。<br>
		<br>
		交货时间<br>
		· 完成购买手续后，我们将立即交付产品。<br>
		<br>
		付款时间及方式<br>
		​ 付款时间和方式根据您使用的内容而有所不同。<br>
		请检查相关内容提供商制定的使用条款。<br>
		<br>
		退货/换货<br>
		由于数字内容的性质，我们在确认购买后不接受退货或换货。<br>
		<br>
		关于未成年人购买<br>
		如果您是未成年人，请在购买前征得您父母或其他法定代表人的同意。<br>
		<br>
		動作環境<br>
		· 需要运行目标服务的Android设备、iOS设备或PC设备。<br>
		请查看各应用程序的官方网站了解运行环境。<br>
		<br>
		其他<br>
		使用服务时，请在购买前查看并同意《必定 使用条款》。
	</div>
	<div class="thirteen">
		<p>根据“支付服务法第13条”显示</p>
		<br>
		発行業者<br>
		安妮普莱克斯有限公司<br>
		&nbsp;&nbsp;東京都千代田区六番町4番地5<br>
		<br>
		支払可能金額等<br>
		没有上限。<br>
		<br>
		有効期間<br>
		没有最后期限。<br>
		<br>
		咨询处<br>
		电子邮件地址：support@magireco.com<br>
		营业时间 10:00-19:00 仅平日（周末及节假日除外）<br>
		<br>
		使用場所<br>
		​ 可以在本服务内使用。<br>
		但是，它只能在购买的平台内使用：iOS 版本、Google play 版本和 DMM GAMES 版本。<br>
		<br>
		使用注意事项<br>
		(1) 购买后，我们不提供退款，除非资金结算法允许退款。<br>
		（2）15岁以下的人士，每月购买Magia宝石的限额为5,000日元（含税），16岁至17岁的人士，每月购买Magia宝石的限额为30,000日元（含税）。<br>
		​ ​ *如果使用DMM GAMES版本，则转换为DMM点数1点数=1日元<br>
		(3) Magia宝石不得转让或出借给第三方。<br>
		（4）其他事项请参阅使用条款。<br>
		<br>
		如何查看未使用余额<br>
		点击“魔法纪录 魔法少女 小圆魔法外传”应用程序中“主页”屏幕上的“Magia 石头”字段，即可在出现的“购买 Magia 石头”屏幕中查看它。<br>
		<br>
		利用規約<br>
		请参阅“魔法纪录 魔法少女 魔法小圆外传”的使用条款。<br>
		您可以从应用程序的“首页”>“使用条款”查看。
		</div>
	</div>
</div>
