<div id="rulesBase" class="rule">
	<div class="popupScrollWrap rulesPop">
	<ul class="ruleTab common_tab t_gold">
		<li class="se_tabs TE ruleDisp current" data-disp="rule"><span>根据《特定商业交易法》的公示</span></li>
		<li class="se_tabs TE thirteenDisp" data-disp="thirteen"><<span>根据《资金结算法》第13条的公示</span></li>
	</ul>
	<div class="rule">
		<p>根据《特定商业交易法》的公示</p>
		<br>
		販売業者<br>
		&nbsp;&nbsp;Aniplex株式会社<br>
		<br>
		販売責任者<br>
		&nbsp;&nbsp;岩上&nbsp;敦宏<br>
		<br>
		本社<br>
		&nbsp;&nbsp;所在地：〒102-8353&nbsp;東京都千代田区六番町４番地５<br>
		<br>
		联系方式<br>
		&nbsp;&nbsp;support@magireco.com <br>
		&nbsp;&nbsp;10:00～19:00，仅工作日（周末及节假日除外）<br>
		&nbsp;&nbsp;电话号码（导航拨号）：03-5211-7555<br>
		&nbsp;&nbsp;营业时间：10:00～18:00，仅工作日（周末、节假日及年末年初除外）<br>
		<br>
		販売価格<br>
		&nbsp;&nbsp;购买时将逐次在画面中显示。所示价格已含消费税。<br>
		<br>
		销售价格以外的必要费用<br>
		&nbsp;&nbsp;使用网络通信时会产生数据流量费用。<br>
		<br>
		交付时间<br>
		&nbsp;&nbsp;完成购买手续后立即交付。<br>
		<br>
		付款时间及方式<br>
		&nbsp;&nbsp;付款时间及方式会因所使用的内容而异。<br>
		&nbsp;&nbsp;请确认相应内容提供商规定的使用条款。<br>
		<br>
		退货与更换<br>
		&nbsp;&nbsp;由于数字内容的特性，购买确认后不接受退货或更换。<br>
		<br>
		关于未成年人购买<br>
		&nbsp;&nbsp;若您是未成年人，请在取得监护人或其他法定代理人同意后购买。<br>
		<br>
		動作環境<br>
		&nbsp;&nbsp;需要能够运行相应服务的Android设备、iOS设备或PC。<br>
		&nbsp;&nbsp;运行环境请在各应用的官方网站确认。<br>
		<br>
		其他<br>
		&nbsp;&nbsp;使用服务前请务必确认并同意使用条款后再购买。
	</div>
	<div class="thirteen">
		<p>根据《资金结算法》第13条的公示</p>
		<br>
		発行業者<br>
		&nbsp;&nbsp;Aniplex株式会社<br>
		&nbsp;&nbsp;東京都千代田区六番町4番地5<br>
		<br>
		支払可能金額等<br>
		&nbsp;&nbsp;无上限。<br>
		<br>
		有効期間<br>
		&nbsp;&nbsp;无有效期限制。<br>
		<br>
		咨询窗口<br>
		&nbsp;&nbsp;邮箱：support@magireco.com<br>
		&nbsp;&nbsp;服务时间：10:00～19:00，仅工作日（周末及节假日除外）<br>
		<br>
		使用場所<br>
		&nbsp;&nbsp;可在本服务内使用。<br>
		&nbsp;&nbsp;但仅可在iOS版、Google Play版或DMM GAMES版中各自购买时所使用的平台内使用。<br>
		<br>
		使用注意事项<br>
		&nbsp;&nbsp;（1）除《资金结算法》规定可退款的情形外，购买后不予退款。<br>
		&nbsp;&nbsp;（2）15岁及以下用户每月购买Magia石的上限为5,000日元（含税），16～17岁用户为30,000日元（含税）。<br>
		&nbsp;&nbsp;&nbsp;&nbsp;※使用DMM GAMES版时，按1 DMM点数＝1日元换算。<br>
		&nbsp;&nbsp;（3）Magia石不得转让、出借给第三方。<br>
		&nbsp;&nbsp;（4）其他事项请参阅使用条款。<br>
		<br>
		未使用余额的确认方式<br>
		&nbsp;&nbsp;可在《魔法纪录 魔法少女小圆外传》应用内“HOME”画面上方点击所持Magia石栏，并在出现的“购买Magia石”画面中确认。<br>
		<br>
		利用規約<br>
		&nbsp;&nbsp;请参阅《魔法纪录 魔法少女小圆外传》使用条款。<br>
		&nbsp;&nbsp;可在应用内“TOP页面”＞“使用条款”中确认。
		</div>
	</div>
</div>
