<div id="GachaSaleSettingPopup">
	从扭蛋获得的记忆结晶<span class="c_pink">可以自动出售。</span><br>
	只有勾选项目的记忆结晶会被出售。
	<div class="settingWrap">
		<div class="header">稀有度</div>
		<div class="flexBox">
			<span class="checkWrap se_tabs" data-filter="RANK_1">
				<span class="checkBox"></span>
				<span class="star"></span>1
			</span>
			<span class="checkWrap se_tabs" data-filter="RANK_2">
				<span class="checkBox"></span>
				<span class="star"></span>2
			</span>
			<span class="checkWrap se_tabs" data-filter="RANK_3">
				<span class="checkBox"></span>
				<span class="star"></span>3
			</span>
			<!-- <span class="checkWrap se_tabs" data-filter="EVENT">
				<span class="checkBox"></span>
				活动BONUS
			</span> -->
		</div>
		<div id="clearBtn" class="sb_gold_01 TE se_cancel">取消全选</div>
	</div>
	<div id="cautionWrap" class="se_tabs">
		<div class="checkBox"></div>
		<div>
			<div class="flexBox c_red"><span class="star"></span>3 已被选为自动出售对象。</div>确定吗？
		</div>
	</div>
</div>
