<div id="ComposeResult">
  <h1>卡牌强化结果</h1>
  <span class="linkBtn btn" data-href="#/MyPage">返回主页</span>
  <span class="linkBtn btn" data-href="#/ComposeTop">前往强化首页</span>
  <div>
    <p>强化前</p>
    <p>Lv. : <%=model.composeTarget.level%>/<%=model.composeTarget.maxLevel%></p>
    <p>界限突破: <%=model.composeTarget.lbCount%></p>
    <p>ATK : <%=model.composeTarget.attack%></p>
    <p>DEF : <%=model.composeTarget.defense%></p>
    <p>HP : <%=model.composeTarget.hp%></p>
    <p>SPE : <%=model.composeTarget.speed%></p>
  </div>
  <div>
    <p>强化后</p>
  </div>
</div>
